/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#logo img{
    position: absolute;
    height: 10%;
    width: 60%;
    top: 1em;
    left: 2em;
}

#header-menu{
    position: absolute;
    color: #000;
    float: right;
    right: 0.8em;
    top: 2.5em;
}

#header ul{
    width: 30em;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 0em;
    transition: height 0.3s ease-out;
    overflow: hidden;
    background-color: #CDCDCD;
    margin-top: 8em;

}

#header ul.show{
    height: 30em;
}

#main-side-selection{
    list-style-type: none;
    width: 80%;
    margin-top: 7em;
}

#main-side-selection li{
    border-bottom: thin solid green;
}

#main-side-selection p{
    opacity: 1;
    overflow: hidden;
    transition: opacity 1s ease;
}

#main-side-selection li p.hide{
    opacity: 0;
    display: none;
}

h2 i{
    margin-right: 0.5em;
}

#home-navigation{
    display: none;
}

#main-faq-selection{
    list-style-type: none;
    width: 80%;
    margin-top: 8em;
}

#main-faq-selection li{
    border-bottom: thin solid green;
}

#main-faq-selection p{
    opacity: 1;
    overflow: hidden;
    transition: opacity 1s ease;
}


#main-faq-selection li p.hide{
    opacity: 0;
    display: none;
}

#main-side-selection h2 i{
    margin-right: 0.5em;
}

#faq-content, #faq-number{
    display: none;
}

#faq-navigation{
    display: none;
}

#main-faq-selection i{
    margin-right: 2%;

}

#home-navigation-faq{
    display: none;
}



@media only screen and (min-width : 30em) {
/*for any devices bigger than 30em*/

#logo img{
    width: 42%;
    height: 10%;

}

#main-side-selection{
    margin-top: 8em;
}

#home-navigation{
    display: none;
}

#main-faq-selection{
    margin-top: 25%;
}



}



@media only screen and (min-width : 50em) {


#container{
    max-width: 80em;
    margin: auto;
    border:1px transparent solid;
 

}

/* HomePage Begins */

#logo img{
    width: 22%;
    height: 10%;

}

#homepage-image{
    width: 100%;
    display: block;
    background-color: #004C00;
    height: 19em;
    top: 13em;
    position: relative;
}

#home-navigation{
    width: 100%;
    float: right;
    display: block;
    position: relative;

}

#home-navigation>ul{
    position: absolute;
    top: 2.5em;
    right: 1em;

}

#home-navigation>ul>li{
    display: inline-block;
    width: 6.5em;
    position: relative;
    z-index: 100;
    
}

#home-navigation>ul>li>a{
    text-decoration: none;
    border-top: thin solid gray;
    padding-top: 1em;
    display: block;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #004C00;

}

#home-navigation>ul>li>a:hover{
    border-top: thin solid black;
  
}

#home-navigation>ul ul{
    display: none;
    position: absolute;
    padding-left: 0;
    top: 60%;

}

#home-navigation>ul ul li{
    border-bottom: thin solid gray;
    
}


#home-navigation>ul>li:hover ul{
    display:block;
}


#home-navigation>ul ul li a{
    text-decoration: none;
    display: block;
    background-color: #fff;
    border-top: thin solid white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-family: 'Open Sans', sans-serif;
    color: #004C00;
    font-weight: bold;

}

#home-navigation>ul ul li a:hover{
    background-color: #FAFAFA;
    
}

#side-selection{
    display: none;
}

#content{
    width: 68%;
    height: 50%;
    top: -3em;
    position: relative;
    left: 0;
}

#quote{
    width: 30%;
    height: 70%;
    float: right;
    margin-top: -40%;
    background-color: #D3D3D3;
    display: block;
}

.pure-form h2{
    font-size: 1.4em;
    color: #006600;
    margin-left: 3%;
}

.pure-form input[type]{
    width: 11em;
    height: 1.3em;
    font-size: 1.8em;
    box-shadow: none;
    margin-bottom: 0.3em;
    margin-left: 3%;

}

.pure-button {
    background-color: #f95f3d;
    color: #eee;
    padding: 1em 2.2em;
    margin-left: 51%;
    box-shadow: none;
    margin-top: 1em;
}

::-webkit-input-placeholder {
   font-size: 0.7em;
   line-height: 1.6em;
   color: #000;
   padding-left: 0.5em;
}


:-moz-placeholder { /* Firefox 18- */
   font-size: 0.7em;
   line-height: 1.6em;
   color: #000;
   padding-left: 0.5em;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 0.7em;
   line-height: 1.6em;
   color: #000;
   padding-left: 0.5em; 
}

:-ms-input-placeholder {  
   font-size: 0.7em;
   line-height: 1.6em;
   color: #000;
   padding-left: 0.5em;
}

#quote-content-link{
    list-style-type: none;
    width: 100%;
    float: left;
}

#quote-content-link ul{
    position: relative;
  /*  display: block;*/
}

#quote-content-link a{
    text-decoration: none;
}

#quote-content-link i{
    margin-left: -6%;

}

.homepage-author{
    float: left;
    width: 100%;
}

.homepage-author p{
    font-weight: bold;
}

/*slider begins*/

.captionOrange, .captionBlack{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.captionOrange{
    background: #EB5100;
    background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack{
    font-size:16px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited{
    color: #ffffff;
    text-decoration: none;
}
a.captionOrange:hover{
    color: #eb5100;
    text-decoration: underline;
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 0.7);
}
.bricon{
    background: url(../img/browser-icons.png);
}

.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av{
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #000 1px solid;
}

.jssorb01 div{
    background-color: gray;
}

.jssorb01 div:hover, .jssorb01 .av:hover {
    background-color: #d3d3d3;
}

.jssorb01 .av {
    background-color: #fff;
}

.jssorb01 .dn, .jssorb01 .dn:hover {
    background-color: #555555;
}

 .jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(./img/a02.png) no-repeat;
    overflow:hidden;
}
.jssora02l { 
    background-position: -3px -33px; 
}
.jssora02r { 
    background-position: -63px -33px; 
}
.jssora02l:hover { 
    background-position: -123px -33px; 
}
.jssora02r:hover { 
    background-position: -183px -33px; 
}
.jssora02ldn { 
    background-position: -243px -33px; 
}
.jssora02rdn { 
    background-position: -303px -33px; 
}

#slider1_container{
    position: relative; 
    top: -6em; 
    left: 20.5em; 
    width: 600px; 
    height: 304px; 
    overflow: hidden; 
    margin-left: 0%;
}


[u="slides"]{
    cursor: move; 
    position: relative; 
    left: 0px; 
    top: 0px; 
    width: 600px; 
    height: 304px; 
    overflow: hidden;
}

/*slider ends*/


#quote-content-link i{
    margin-right: 2%;
}

#faq-selection i{
    margin-right: 2%;
}

/*navigation faq begins*/

#home-navigation{
    width: 100%;
    float: right;
    display: block;
    position: relative;

}

#home-navigation-faq{
    position: relative;
    display: block;

}

#home-navigation-faq>ul{
    position: absolute;
    top: 2.5em;
    right: 1em;

}

#home-navigation-faq>ul>li{
    display: inline-block;
    width: 6.5em;
    position: relative;
    z-index: 100;
    
}

#home-navigation-faq>ul>li>a{
    text-decoration: none;
    border-top: thin solid gray;
    padding-top: 1em;
    display: block;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #004C00;

}

#home-navigation-faq>ul>li>a:hover{
    border-top: thin solid black;
  
}

#home-navigation-faq>ul ul{
    display: none;
    position: absolute;
    padding-left: 0;
    top: 60%;

}

#home-navigation-faq>ul ul li{
    border-bottom: thin solid gray;
    
}


#home-navigation-faq>ul>li:hover ul{
    display:block;
}


#home-navigation-faq>ul ul li a{
    text-decoration: none;
    display: block;
    background-color: #fff;
    border-top: thin solid white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-family: 'Open Sans', sans-serif;
    color: #004C00;
    font-weight: bold;

}

#home-navigation-faq>ul ul li a:hover{
    background-color: #FAFAFA;
    
}

/*navigation faq ends*/

#faq-content{
    width: 30%;
    float: left;
    display: block;
    position: absolute;
    top: 9em;
    margin-left: 0%;
}

#faq-content p{
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    margin: 0;
    color: #006600

}

#faq-number{
    width: 20%;
    float: right;
    display: block;
    position: relative;
    top: 9em;
    right:0%;   

}

#faq-number p{
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    margin: 0;
    color: #006600;
}


#main-faq-selection{
    width: 70%;
    margin-left: 0%;
    margin-left: 18%;
    position: relative;
    top: -4em;

}

#main-faq-selection li{
    border-bottom: none;
}


#faq-navigation{
    width: 100%;
    float: right;
    display: block;
    position: relative;
    top: 12.3em;
}


#faq-navigation ul{
    position: absolute;
    padding-left: 0;
    top: 60%;
    list-style-type: none;
    width: 15%;
    border-top: thin solid gray;

}

#faq-selection ul{
    position: relative;
    width: 75%;
    border-top: thin solid gray;

}

#faq-navigation ul li{
    border-bottom: thin solid gray;
    
}


#faq-navigation ul li a{ 
    text-decoration: none;
    display: block;
    background-color: #fff;
    border-top: thin solid white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-family: 'Open Sans', sans-serif;
    color: #004C00;
    font-weight: bold;

}

#faq-navigation ul li a:hover{
    background-color: #FAFAFA;
    
}











}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
